<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{{siteTitle}}}</title>
        <style>
         a {
             text-decoration: none;
             color: hsl(204,90%,45%);
         }
         @media screen and (max-width: 750px){
         body{
             font-size: 10vw !important;
         }
         }
         </style>
    </head>
    <body style="background-color: hsl(204,60%,96%);">
        <div style="background-color: hsl(204, 60%, 96%);position: fixed;width: 100vw;left: 0;top: 0;z-index:999;"><a href="{{{siteUrl}}}" style="text-decoration: none;">
            <h1 style="color: hsl(204, 90%, 45%);">{{{siteName}}}</h1></a></div>
        <div style="background-color: hsl(204, 60%, 96%);position: absolute;" class="pstbdy">{{{postBody}}}</div>
    </body>
</html>
