<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{{siteTitle}}}</title>
        <link rel="stylesheet" href="https://unpkg.com/github-markdown-css@5.6.1/github-markdown-light.css">
    </head>
    <body style="background-color: hsl(204,60%,96%);">
        <div style="background-color: hsl(204, 60%, 96%);position: fixed;width: 100vw;height: 10vh;left: 0;top: 0;z-index:999;"><a href="{{{siteUrl}}}" style="text-decoration: none;">
            <h1 style="color: hsl(204, 90%, 45%);">{{{siteName}}}</h1></a></div>
        <div style="background-color: hsl(204, 60%, 96%);position: absolute;top: 10vh;">{{{postBody}}}</div>
    </body>
</html>
